/* div, span{
    border: 2px solid black;
    margin: 10px;
    width: 200px;
    height: 200px;
}
#s2{
    display: inline-block ;
} */

/* ol, ul, li{
    border: 1px solid black;
    padding: 0px;
}
ol{
    display: table;
}
ul{
    display: table-row;
}
li{
    display: table-cell;
} */

section{
    border: 3px solid red;
    display: flex;
    /* width: 400px; */
    flex-wrap: wrap;
    justify-content: right;

}
div{
    border: 1px solid black ;
    /* flex: 1; */
    width: 150px;
}